.BG {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 30px;
  flex-direction: column;
}

.SearchBoxContainer {
  width: initial;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border-color: transparent;
  background-color: rgb(235, 235, 235);
}

.ContactContainer {
  flex: 1;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(235, 235, 235);
}
